[submodule "opencore-amr"]
	path = opencore-amr
	url = git://github.com/VFR-maniac/opencore-amr.git
[submodule "vo-aacenc"]
	path = vo-aacenc
	url = git://github.com/VFR-maniac/vo-aacenc.git
[submodule "vo-amrwbenc"]
	path = vo-amrwbenc
	url = git://github.com/VFR-maniac/vo-amrwbenc.git
[submodule "bzip2"]
	path = bzip2
	url = git://github.com/VFR-maniac/bzip2.git
