[submodule "opencore-amr"]
	path = opencore-amr
	url = git://github.com/VFR-maniac/opencore-amr.git
[submodule "vo-aacenc"]
	path = vo-aacenc
	url = git://github.com/VFR-maniac/vo-aacenc.git
[submodule "vo-amrwbenc"]
	path = vo-amrwbenc
	url = git://github.com/VFR-maniac/vo-amrwbenc.git
[submodule "bzip2"]
	path = bzip2
	url = git://github.com/VFR-maniac/bzip2.git
[submodule "zlib"]
	path = zlib
	url = git://github.com/VFR-maniac/zlib.git
[submodule "ffmpegsource"]
	path = ffmpegsource
	url = git://github.com/VFR-maniac/ffmpegsource.git
[submodule "pthreads-win32"]
	path = pthreads-win32
	url = git://github.com/VFR-maniac/pthreads-win32.git
[submodule "lame"]
	path = lame
	url = git://github.com/VFR-maniac/lame.git
[submodule "libav"]
	path = libav
	url = git://github.com/VFR-maniac/libav.git
